# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data
*.csv

# JSON files
*.json
lab1-hxwy-80c276190b0a.json
# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db   